{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link href="{% static '/css/styles.css' %}" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Web Push</title>
    <link href="https://fonts.googleapis.com/css?family=PT+Sans:400,700" rel="stylesheet">
</head>

<body>
<div>
    <form id="send_push__form" method="POST" action="send_push">
        {% csrf_token %}
        <h3 class="header">Send a push notification</h3>
        <input type="text" name="title" placeholder="Title :">
        <input type="text" name="notification" placeholder="Text :">
        <button>Send Me</button>
    </form>
</div>
</body>
</html>